.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}  

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);                   /*color of image will be inverted, can apply this wherver you want to invert the color of image */
}  

.bg-grey{
    background-color: #1b1b1b;

}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: :5px;
}

.p-1{
    padding: 10px;
}